<div class="navbar">
<%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "livialima_logo.png" %>
    <% end %>
<div>
<ul class="navbar-listinline-links">
<li class="links"><%= link_to "Quem Somos", about_path %></li>
<li class="links"><%= link_to "Cardápio", meal_path %></li>
<li class="links"><%= link_to "Delivery", order_path %></li>
<li class="links"><%= link_to "Galeria de Fotos", galery_path %></li>
<li class="links"><%= link_to "Contato", contact_path %></li>
</ul>
</div>
</div>
<div class="banner">
</div>
<div class="container title">
  <h1>História da Massa</h1>
  <div class="row justify-content-center mt-3">

    <div class="col-6 col-lg-3">

    </div>

  </div>
</div>

